In [35]:
import pandas as pd
import os
import unicodecsv as csv

In [27]:
emails = pd.read_csv('ben_anandsir.csv', names=['email_id'], skiprows=1)

In [28]:
emails.head()

               email_id
0  bbmandal@hotmail.com
1     fayaz@iiap.res.in
2  07.supriya@gmail.com
3     10dbags@gmail.com
4     1965atl@gmail.com

In [29]:
emails['domain'] = emails['email_id'].str.split('@').str[1]

In [30]:
emails.head()

               email_id       domain
0  bbmandal@hotmail.com  hotmail.com
1     fayaz@iiap.res.in  iiap.res.in
2  07.supriya@gmail.com    gmail.com
3     10dbags@gmail.com    gmail.com
4     1965atl@gmail.com    gmail.com

In [31]:
domain_count = emails.groupby('domain')['domain'].count()
domain_count.head()

domain
10xofy.com                1
1ht-services-india.com    1
1mobility.com             1
20microns.com             1
24X7holidays.in           1
Name: domain, dtype: int64

## Remove Kairee and Aryan IDs

In [32]:
emails[emails['domain'].str.contains('aibc')].count()

email_id    12
domain      12
dtype: int64

In [33]:
from validate_email import validate_email

In [38]:
validated_emails = open('./validated_email_list.csv','wb')    
output_writer = csv.writer(validated_emails, delimiter = "|", encoding='latin2')
print(emails.count())
for email in emails.email_id:
    
    try:

        address = email
        valid_address = validate_email(email)
        valid_domain = validate_email(email,check_mx=True)
        email_exists = validate_email(email,verify=True)
        
        output_writer.writerow([
            address,
            valid_address,
            valid_domain, 
            email_exists])
        print(email," Analysed")

    except Exception as e:
        ()

validated_emails.close()

email_id    13968
domain      13968
dtype: int64
abhilakh@gmail.com/abhilakh@ireda.gov.in  Analysed
admin@cmdapune@vsnl.net  Analysed
kurianphabel@gmail.com/secy.itd@kerala.gov.in  Analysed
mdniy@yahoo.co.in/harry20186@gmail.com  Analysed
poojanram440@gmail.com/cca.dl-dot@nic.in  Analysed
ravindra@tifac.org.in    Analysed
rthapa@wii.gov.in   Analysed
sales@coldproducts,in  Analysed
singh300671@gmail.com/dksingh@ireda.gov.in  Analysed
vijaysrivastav@ignou.ac.in/headcd@ignou.ac.in  Analysed